/network_simulator/calculations/env
/network_simulator/calculations/env_310
/network_simulator/calculations/env_39
/network_simulator/mac/x64
/network_simulator/x64
/network_simulator/network/x64
/network_simulator/.vs
